.App {
  background: linear-gradient(140deg, #fa005a -21.39%, #93297f 47.58%), #520044;
}

@font-face {
  font-family: "BlackScript";
  src: local("BlackScript"), url("./assets/blank-script.otf") format("truetype");
  font-weight: bold;
}

.font-face-black-script {
  font-family: "BlackScript";
}

:root {
  --red: #ee3a43;
  --yellow: #fcdd00;
  --blue: #0082c8;
  --black: #11090a;
  --white: #f2f2f2;
  --orange: #f78934;
}
